<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Лента-новостей-основное-(за-прошлый-период)" data-toc-modified-id="Лента-новостей-основное-(за-прошлый-период)-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Лента новостей-основное (за прошлый период)</a></span><ul class="toc-item"><li><span><a href="#Аудиторные-данные" data-toc-modified-id="Аудиторные-данные-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Аудиторные данные</a></span><ul class="toc-item"><li><span><a href="#DAU" data-toc-modified-id="DAU-1.1.1"><span class="toc-item-num">1.1.1&nbsp;&nbsp;</span>DAU</a></span></li><li><span><a href="#WAU" data-toc-modified-id="WAU-1.1.2"><span class="toc-item-num">1.1.2&nbsp;&nbsp;</span>WAU</a></span></li><li><span><a href="#MAU" data-toc-modified-id="MAU-1.1.3"><span class="toc-item-num">1.1.3&nbsp;&nbsp;</span>MAU</a></span></li></ul></li><li><span><a href="#Основные-события" data-toc-modified-id="Основные-события-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Основные события</a></span><ul class="toc-item"><li><span><a href="#Лайки-и-просмотры" data-toc-modified-id="Лайки-и-просмотры-1.2.1"><span class="toc-item-num">1.2.1&nbsp;&nbsp;</span>Лайки и просмотры</a></span></li><li><span><a href="#CTR" data-toc-modified-id="CTR-1.2.2"><span class="toc-item-num">1.2.2&nbsp;&nbsp;</span>CTR</a></span></li><li><span><a href="#Топ--250-постов" data-toc-modified-id="Топ--250-постов-1.2.3"><span class="toc-item-num">1.2.3&nbsp;&nbsp;</span>Топ -250 постов</a></span></li><li><span><a href="#Каналы-привлечения" data-toc-modified-id="Каналы-привлечения-1.2.4"><span class="toc-item-num">1.2.4&nbsp;&nbsp;</span>Каналы привлечения</a></span></li><li><span><a href="#OS" data-toc-modified-id="OS-1.2.5"><span class="toc-item-num">1.2.5&nbsp;&nbsp;</span>OS</a></span></li><li><span><a href="#Возраст" data-toc-modified-id="Возраст-1.2.6"><span class="toc-item-num">1.2.6&nbsp;&nbsp;</span>Возраст</a></span></li></ul></li></ul></li><li><span><a href="#Лента-новостей--оперативные-данные-(за-сегодняшний-день)" data-toc-modified-id="Лента-новостей--оперативные-данные-(за-сегодняшний-день)-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Лента новостей- оперативные данные (за сегодняшний день)</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#Все-события" data-toc-modified-id="Все-события-2.0.1"><span class="toc-item-num">2.0.1&nbsp;&nbsp;</span>Все события</a></span></li><li><span><a href="#Лайки-и-просмотры" data-toc-modified-id="Лайки-и-просмотры-2.0.2"><span class="toc-item-num">2.0.2&nbsp;&nbsp;</span>Лайки и просмотры</a></span></li><li><span><a href="#Лайки-и-просмотры" data-toc-modified-id="Лайки-и-просмотры-2.0.3"><span class="toc-item-num">2.0.3&nbsp;&nbsp;</span>Лайки и просмотры</a></span></li></ul></li></ul></li><li><span><a href="#Лента-новостей-и-сообщений" data-toc-modified-id="Лента-новостей-и-сообщений-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Лента новостей и сообщений</a></span><ul class="toc-item"><li><span><a href="#Пользователи-по-категориям" data-toc-modified-id="Пользователи-по-категориям-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Пользователи по категориям</a></span></li><li><span><a href="#Аудиторные-данные" data-toc-modified-id="Аудиторные-данные-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Аудиторные данные</a></span><ul class="toc-item"><li><span><a href="#DAU" data-toc-modified-id="DAU-3.2.1"><span class="toc-item-num">3.2.1&nbsp;&nbsp;</span>DAU</a></span></li><li><span><a href="#WAU" data-toc-modified-id="WAU-3.2.2"><span class="toc-item-num">3.2.2&nbsp;&nbsp;</span>WAU</a></span></li><li><span><a href="#MAU" data-toc-modified-id="MAU-3.2.3"><span class="toc-item-num">3.2.3&nbsp;&nbsp;</span>MAU</a></span></li></ul></li></ul></li></ul></div>

# Анализ продуктовых метрик. Дашборты в Superset

## Лента новостей-основное (за прошлый период)

### Аудиторные данные

#### DAU

In [ ]:
SELECT toStartOfDay(toDateTime(time)) AS __timestamp,
       count(DISTINCT user_id) AS "Уникальные пользователи"
FROM
  (select *,
          if(gender = '1', 'male', 'female') as gender_label
   from simulator_20221120.feed_actions) AS virtual_table
GROUP BY toStartOfDay(toDateTime(time))
ORDER BY "Уникальные пользователи" DESC
LIMIT 50000;

#### WAU

In [ ]:
SELECT toMonday(toDateTime(time)) AS __timestamp,
       count(DISTINCT user_id) AS "Уникальные пользователи"
FROM
  (select *,
          if(gender = '1', 'male', 'female') as gender_label
   from simulator_20221120.feed_actions) AS virtual_table
GROUP BY toMonday(toDateTime(time))
ORDER BY "Уникальные пользователи" DESC
LIMIT 50000;

#### MAU

In [ ]:
SELECT toStartOfMonth(toDateTime(time)) AS __timestamp,
       count(DISTINCT user_id) AS "Уникальные пользователи"
FROM
  (select *,
          if(gender = '1', 'male', 'female') as gender_label
   from simulator_20221120.feed_actions) AS virtual_table
GROUP BY toStartOfMonth(toDateTime(time))
ORDER BY "Уникальные пользователи" DESC
LIMIT 50000;

### Основные события

#### Лайки и просмотры

In [ ]:
SELECT toStartOfDay(toDateTime(time)) AS __timestamp,
       action AS action,
       count(user_id) AS "События"
FROM
  (select *,
          if(gender = '1', 'male', 'female') as gender_label
   from simulator_20221120.feed_actions) AS virtual_table
GROUP BY action,
         toStartOfDay(toDateTime(time))
ORDER BY "События" DESC
LIMIT 50000;

#### CTR

In [ ]:
SELECT toStartOfDay(toDateTime(time)) AS __timestamp,
       countIf(user_id, action='like') / countIf(user_id, action='view') AS "CTR"
FROM
  (select *,
          if(gender = '1', 'male', 'female') as gender_label
   from simulator_20221120.feed_actions) AS virtual_table
GROUP BY toStartOfDay(toDateTime(time))
ORDER BY "CTR" DESC
LIMIT 50000;

#### Топ -250 постов

In [ ]:
SELECT post_id AS post_id,
       countIf(action='view') AS "Просмотры",
       countIf(action='like') AS "Лайки",
       countIf(action='like') / countIf(action='view') AS "CTR",
       count(DISTINCT user_id) AS "Охват"
FROM
  (select *,
          if(gender = '1', 'male', 'female') as gender_label
   from simulator_20221120.feed_actions) AS virtual_table
GROUP BY post_id
ORDER BY "Просмотры" DESC
LIMIT 250;

#### Каналы привлечения

In [ ]:
SELECT toStartOfDay(toDateTime(time)) AS __timestamp,
       source AS source,
                 count(DISTINCT user_id) AS "COUNT_DISTINCT(user_id)"
FROM
  (select *,
          if(gender = '1', 'male', 'female') as gender_label
   from simulator_20221120.feed_actions) AS virtual_table
GROUP BY source,
         toStartOfDay(toDateTime(time))
ORDER BY "COUNT_DISTINCT(user_id)" DESC
LIMIT 50000;

#### OS

In [ ]:
SELECT toStartOfDay(toDateTime(time)) AS __timestamp,
       os AS os,
       count(DISTINCT user_id) AS "COUNT_DISTINCT(user_id)"
FROM
  (select *,
          if(gender = '1', 'male', 'female') as gender_label
   from simulator_20221120.feed_actions) AS virtual_table
GROUP BY os,
         toStartOfDay(toDateTime(time))
ORDER BY "COUNT_DISTINCT(user_id)" DESC
LIMIT 50000;

#### Возраст

In [ ]:
SELECT age AS age
FROM
  (select *,
          if(gender = '1', 'male', 'female') as gender_label
   from simulator_20221120.feed_actions) AS virtual_table
LIMIT 10000;

## Лента новостей- оперативные данные (за сегодняшний день)

#### Все события

In [ ]:
SELECT toDateTime(intDiv(toUInt32(toDateTime(time)), 600)*600) AS __timestamp,
       count(user_id) AS "COUNT(user_id)"
FROM
  (select *,
          if(gender = '1', 'male', 'female') as gender_label
   from simulator_20221120.feed_actions) AS virtual_table
WHERE time >= toDateTime('2023-04-09 00:00:00')
  AND time < toDateTime('2023-04-10 00:00:00')
GROUP BY toDateTime(intDiv(toUInt32(toDateTime(time)), 600)*600)
ORDER BY "COUNT(user_id)" DESC
LIMIT 50000;

#### Лайки и просмотры

In [ ]:
SELECT toDateTime(intDiv(toUInt32(toDateTime(time)), 600)*600) AS __timestamp,
       action AS action,
       count(user_id) AS "COUNT(user_id)"
FROM
  (select *,
          if(gender = '1', 'male', 'female') as gender_label
   from simulator_20221120.feed_actions) AS virtual_table
WHERE time >= toDateTime('2023-04-09 00:00:00')
  AND time < toDateTime('2023-04-10 00:00:00')
GROUP BY action,
         toDateTime(intDiv(toUInt32(toDateTime(time)), 600)*600)
ORDER BY "COUNT(user_id)" DESC
LIMIT 50000;

#### Лайки и просмотры

In [ ]:
SELECT toDateTime(intDiv(toUInt32(toDateTime(time)), 900)*900) AS __timestamp,
       round(100 * countIf(action = 'like')/countIf(action = 'view'), 1) AS "CTR, %"
FROM
  (select *,
          if(gender = '1', 'male', 'female') as gender_label
   from simulator_20221120.feed_actions) AS virtual_table
WHERE time >= toDateTime('2023-04-09 00:00:00')
  AND time < toDateTime('2023-04-10 00:00:00')
GROUP BY toDateTime(intDiv(toUInt32(toDateTime(time)), 900)*900)
ORDER BY "CTR, %" DESC
LIMIT 50000;

## Лента новостей и сообщений

### Пользователи по категориям

In [ ]:
SELECT toStartOfDay(toDateTime(day)) AS __timestamp,
       status AS status,
       count(user_id) AS "COUNT(user_id)"
FROM
  (SELECT *
   FROM
     (SELECT *
      FROM
        (SELECT user_id,
                day,
                count_action,
                count_message,
                IF(count_message > 0, 'feed+message', 'only_feed') AS status
         FROM
           (SELECT user_id,
                   DATE(time) as day,
                   COUNT(action) AS count_action
            FROM simulator_20221120.feed_actions
            GROUP BY user_id,
                     DATE(time)) t1
         LEFT JOIN
           (SELECT user_id,
                   DATE(time) AS day,
                   COUNT(reciever_id) AS count_message
            FROM simulator_20221120.message_actions
            GROUP BY user_id,
                     DATE(time)) t2 USING user_id,
                                          day)
      UNION ALL
        (SELECT *
         FROM
           (SELECT user_id,
                   day,
                   count_action,
                   count_message,
                   IF(count_action > 0, 'feed+message', 'only_message') AS status
            FROM
              (SELECT user_id,
                      DATE(time) as day,
                      COUNT(action) AS count_action
               FROM simulator_20221120.feed_actions
               GROUP BY user_id,
                        DATE(time)) t1
            RIGHT JOIN
              (SELECT user_id,
                      DATE(time) AS day,
                      COUNT(reciever_id) AS count_message
               FROM simulator_20221120.message_actions
               GROUP BY user_id,
                        DATE(time)) t2 USING user_id,
                                             day)
         WHERE status == 'only_message' ))
   ORDER BY day,
            status DESC) AS virtual_table
GROUP BY status,
         toStartOfDay(toDateTime(day))
ORDER BY "COUNT(user_id)" DESC
LIMIT 1000;

### Аудиторные данные

#### DAU

In [ ]:
SELECT toStartOfDay(toDateTime(time)) AS __timestamp,
       count(DISTINCT feed_user) AS "Уникальные пользователи ленты и сообщений"
FROM
  (SELECT a.time,
          a.user_id as feed_user,
          b.user_id as message_user,
          a.source,
          a.gender,
          a.age,
          a.country,
          a.city,
          a.os
   FROM simulator_20221120.message_actions as a
   left join simulator_20221120.feed_actions as b using user_id) AS virtual_table
GROUP BY toStartOfDay(toDateTime(time))
ORDER BY "Уникальные пользователи ленты и сообщений" DESC
LIMIT 1000;

#### WAU

In [ ]:
SELECT toMonday(toDateTime(time)) AS __timestamp,
       count(DISTINCT feed_user) AS "Уникальные пользователи ленты и сообщений"
FROM
  (SELECT a.time,
          a.user_id as feed_user,
          b.user_id as message_user,
          a.source,
          a.gender,
          a.age,
          a.country,
          a.city,
          a.os
   FROM simulator_20221120.message_actions as a
   left join simulator_20221120.feed_actions as b using user_id) AS virtual_table
GROUP BY toMonday(toDateTime(time))
ORDER BY "Уникальные пользователи ленты и сообщений" DESC
LIMIT 1000;

#### MAU

In [ ]:
SELECT toStartOfMonth(toDateTime(time)) AS __timestamp,
       count(DISTINCT feed_user) AS "Уникальные пользователи ленты и сообщений"
FROM
  (SELECT a.time,
          a.user_id as feed_user,
          b.user_id as message_user,
          a.source,
          a.gender,
          a.age,
          a.country,
          a.city,
          a.os
   FROM simulator_20221120.message_actions as a
   left join simulator_20221120.feed_actions as b using user_id) AS virtual_table
GROUP BY toStartOfMonth(toDateTime(time))
ORDER BY "Уникальные пользователи ленты и сообщений" DESC
LIMIT 1000;